/* mobile */
@media only screen and (max-width: 599px) {
    .nav-top{
        font-family: 'Open Sans', sans-serif;
        background: #F4F4F4;
        
    }
    body{
        margin:0;
        padding: 0;
        background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0; 
        -webkit-animation: 10s linear 0s normal none infinite animate;
        animation: 10s linear 0s normal none infinite animate;
 
    }
 
    @-webkit-keyframes animate {
	   from {background-position:0 0;}
        to {background-position: 500px 0;}
    }
 
    @keyframes animate {
	   from {background-position:0 0;}
        to {background-position: 500px 0;}
    }
    .coming-soon{
        text-align: center;
        padding-top: 3em;
        padding-bottom: 0.5em;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 2.0em;
        color: #f4f4f4;
    }
    .progress-page{
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        padding-top: 50px;
        
    }
    .btn-soon-text{
        display: block;
        text-align: center;
        margin: 20px auto;
        max-width: 11em;
        border-radius: 1px;
        padding: 18px 50px;
        -webkit-transition: all .9s;
        transition: all .9s;
    }
    .btn-soon-text.square{
        border: 3px #f4f4f4 solid;
        font-family: 'Open Sans';
        font-size: 1.5em;
        color: #f4f4f4;
        font-weight: normal;
    }
    .btn-soon-text.square:hover{
        background: #f4f4f4;
        color: #2980b9;
        cursor: pointer;
    }
    .img-header-wrapper{
        padding: 20px 50px;
        display: block;
        max-width: 15.5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        -webkit-transition: all .9s;
        transition: all .9s;
    }
    .img-header-wrapper:hover{
        background: #e2e0e0;
    }
    .img-logo-header{
        max-width: 150px;
    }
    .page1{
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        vertical-align: middle;
    }
    .page2{
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }
    .hidden{
        display: none;
    }
    .shown{
        display: block;
    }
    .visuallyhidden{
        opacity: 0;
    }
    .visuallyshown{
        opacity: 1;
    }
    .footer-wrapper{
        background-color: #363636;
        color: #9d9d9d;
        right: 0;
        left: 0;
        bottom: 0;
        min-height:100%;
        position:relative;
        margin-bottom: -942px;
        height: 342px; 
        
    }
    .footer{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .padding-bot{
        padding-bottom: 20px;
    }
    .padding-bot-index{
        padding-bottom: 140px;
    }
    .about-prove-footer{
        font-family: 'Open Sans';
        font-weight: 200;
        color: #2d8ccb;
    }
    .mail-link{
        text-decoration: none !important;
        -webkit-transition: all .5s;
        transition: all .5s;
        border-bottom: 0px #f4f4f4 solid;
        color: inherit;
    }
    .mail-link:hover{
        color: #6f6f6f;
    }
    .subscribe-box{
        padding: 10px 11px 8px;
        color: #9d9d9d;
        font-weight: 700;
        border: 2px solid #2d8ccb;
        background: none;
        margin-right: 6px;
        width: 200px;
        outline: none;
    }
    .btn-subscribe {

    }
    .btn-subscribe:hover {
        
    }
    .icon-wrapper{
        padding-top: 10px;
    }
    .copyright{
        
    }
}

/* bigger than mobile */
@media only screen and (min-width: 600px) {
    .nav-top{
        font-family: 'Open Sans', sans-serif;
        background: #F4F4F4;
        
    }
    body{
        margin:0;
        padding: 0;
        background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0; 
        -webkit-animation: 10s linear 0s normal none infinite animate;
        animation: 10s linear 0s normal none infinite animate;
 
    }
 
    @-webkit-keyframes animate {
	   from {background-position:0 0;}
        to {background-position: 500px 0;}
    }
 
    @keyframes animate {
	   from {background-position:0 0;}
        to {background-position: 500px 0;}
    }
    .coming-soon{
        text-align: center;
        padding-top: 3.0em;
        padding-bottom: 0.5em;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 4em;
        color: #f4f4f4;
    }
    .progress-page{
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        padding-top: 50px;
        
    }
    .btn-soon-text{
        display: block;
        text-align: center;
        margin: 20px auto;
        max-width: 11em;
        border-radius: 1px;
        padding: 18px 50px;
        -webkit-transition: all .9s;
        transition: all .9s;
    }
    .btn-soon-text.square{
        border: 3px #f4f4f4 solid;
        font-family: 'Open Sans';
        font-size: 1.5em;
        color: #f4f4f4;
        font-weight: normal;
    }
    .btn-soon-text.square:hover{
        background: #f4f4f4;
        color: #2980b9;
        cursor: pointer;
    }
    .img-header-wrapper{
        padding: 20px 50px;
        display: block;
        max-width: 15.5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        -webkit-transition: all .9s;
        transition: all .9s;
    }
    .img-header-wrapper:hover{
        background: #e2e0e0;
    }
    .img-logo-header{
        max-width: 150px;
    }
    .page1{
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        vertical-align: middle;
    }
    .page2{
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
    }
    .hidden{
        display: none;
    }
    .shown{
        display: block;
    }
    .visuallyhidden{
        opacity: 0;
    }
    .visuallyshown{
        opacity: 1;
    }
    .footer-wrapper{
        background-color: #363636;
        color: #9d9d9d;
        right: 0;
        left: 0;
        bottom: 0;
        min-height:100%;
        position:relative;
        margin-bottom: -942px;
        height: 342px; 
        
    }
    .footer{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .padding-bot{
        padding-bottom: 20px;
    }
    .padding-bot-index{
        padding-bottom: 140px;
    }
    .about-prove-footer{
        font-family: 'Open Sans';
        font-weight: 200;
        color: #2d8ccb;
    }
    .mail-link{
        text-decoration: none !important;
        -webkit-transition: all .5s;
        transition: all .5s;
        border-bottom: 0px #f4f4f4 solid;
        color: inherit;
    }
    .mail-link:hover{
        color: #6f6f6f;
    }
    .subscribe-box{
        padding: 10px 11px 8px;
        color: #9d9d9d;
        font-weight: 700;
        border: 2px solid #2d8ccb;
        background: none;
        margin-right: 6px;
        width: 200px;
        outline: none;
    }
    .btn-subscribe {

    }
    .btn-subscribe:hover {
        
    }
    .icon-wrapper{
        padding-top: 10px;
    }
    .copyright{
        
    }
    
}